@page
@model Bookings_Hotel.Pages.Manager.AddNewRoomModel
@{
    ViewData["Title"] = "Add new room";
    Layout = "~/Pages/Shared/Layout_admin.cshtml";
}

<head>
    <link rel="stylesheet" href="~/admin_template/css/add-room.css" />
</head>

<div class="main-header d-flex justify-content-start">

    <div>
        <span class="mb-0 fs-3 fw-bold">Add new room</span>
    </div>
</div>

<div class="form-container mt-3 p-3">
    <form>
        <div class="row g-5">

            <div class="col-md-6 ">
                <div class="mb-3">
                    <label for="" class="form-label">Room Number <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" placeholder="Enter room number">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Number of beds <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Enter number of beds">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Number of adults <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" id="inputAddress2"
                           placeholder="Enter number of adults">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Number of children <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" placeholder="Enter number of children">
                </div>

            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="" class="form-label">Price <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" placeholder="Enter price">
                </div>

                <div class="mb-3">
                    <label for="inputState" class="form-label">Room type <span class="text-danger">*</span> </label>
                    <select id="inputState" class="form-select">
                        <option selected disabled>Select room type</option>
                        <option>Avalible</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="inputZip" class="form-label">Note</label>
                    <textarea class="form-control" rows="5" placeholder="Enter a note"></textarea>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary px-4 rounded-pill">Save</button>
        </div>
    </form>
</div>