@page
@model Bookings_Hotel.Pages.Manager.IndexStaffModel
@{
    ViewData["Title"] = "Staff Dashboard";
    Layout = "~/Pages/Shared/Layout_admin.cshtml";
}



        <!-- Nội dung chính bên phải -->
        <div class="col-md-9">
            <h2>Welcome to the Staff Dashboard</h2>
            <p>Select an option from the sidebar to manage different areas of the hotel system.</p>
        </div>


