@page
@model Bookings_Hotel.Pages.Manager.IndexStaffModel
@{
    ViewData["Title"] = "Staff Dashboard";
    Layout = "~/Pages/Shared/Layout_admin.cshtml";
}



        <!-- Nội dung chính bên phải -->
<h2>Chào mừng đến với hệ thống quản lý khách sạn</h2>


