@page
@model Bookings_Hotel.Pages.Manager.Customers.CreateModel
@{
    ViewData["Title"] = "Add new customer";
    Layout = "~/Pages/Shared/Layout_admin.cshtml";
}
<head>
    <link rel="stylesheet" href="~/admin_template/css/add-room.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<div class="main-header d-flex justify-content-start">

    <div>
        <span class="mb-0 fs-3 fw-bold">Thêm người dùng</span>
    </div>
</div>


<form method="post" class="form-container mt-3 p-3 row row-cols-2 mx-0">
    <div class="col m-0 p-0">
        <div class="form-group mb-3">
            <label asp-for="Account.FullName">Họ và tên</label>
            <input asp-for="Account.FullName" class="form-control" />
            <span asp-validation-for="Account.FullName" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Account.Email"></label>
            <input asp-for="Account.Email" class="form-control" />
            <span asp-validation-for="Account.Email" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Account.UseName">Tài khoản</label>
            <input asp-for="Account.UseName" class="form-control" />
            <span asp-validation-for="Account.UseName" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Account.Password">Mật khẩu</label>
            <input asp-for="Account.Password" type="password" class="form-control" />
            <span asp-validation-for="Account.Password" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Account.Phonenumber">Số điện thoại</label>
            <input asp-for="Account.Phonenumber" class="form-control" />
            <span asp-validation-for="Account.Phonenumber" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Account.Address">Địa chỉ</label>
            <input asp-for="Account.Address" class="form-control" />
            <span asp-validation-for="Account.Address" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Account.Gender" class="form-label">Giới tính:</label>
            <select asp-for="Account.Gender" class="form-select">
                <option value="Male">Nam</option>
                <option value="Female">Nữ</option>
                
            </select>
            <span asp-validation-for="Account.Gender" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-center">
            <a asp-page="./List" class="btn btn-outline-dark px-4 rounded-pill me-2">Hủy</a>

            <button type="submit" class="btn btn-primary px-4 rounded-pill">Lưu</button>
        </div>

    </div>
</form>
