@page
@model Bookings_Hotel.Pages.Home.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Pages/Shared/Layout_Login.cshtml";
}

<h2>Quên mật khẩu</h2>

<form method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <button type="submit">Đặt lại mật khẩu</button>
</form>
