@page
@model Bookings_Hotel.Pages.Home.RegisterModel
@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Pages/Shared/Layout_Login.cshtml";
}
<form method="post">
    <div class="d-flex align-items-center mb-3 pb-1">
        <span class="h1 fw-bold mb-0">Booking Hotel</span>
    </div>

    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create your account</h5>

    <!-- Full Name -->
    <div class="form-outline mb-4">
        <input type="text" id="fullname" class="form-control form-control-lg" required />
        <label class="form-label" for="fullname">Full Name</label>
    </div>

    <!-- Email -->
    <div class="form-outline mb-4">
        <input type="email" id="email" class="form-control form-control-lg" required />
        <label class="form-label" for="email">Email</label>
    </div>

    <!-- Phone Number -->
    <div class="form-outline mb-4">
        <input type="text" id="phonenumber" class="form-control form-control-lg" required />
        <label class="form-label" for="phonenumber">Phone Number</label>
    </div>

    <!-- Username -->
    <div class="form-outline mb-4">
        <input type="text" id="username" class="form-control form-control-lg" required />
        <label class="form-label" for="username">Username</label>
    </div>

    <!-- Password -->
    <div class="form-outline mb-4">
        <input type="password" id="password" class="form-control form-control-lg" required />
        <label class="form-label" for="password">Password</label>
    </div>


    <!-- Address -->
    <div class="form-outline mb-4">
        <input type="text" id="address" class="form-control form-control-lg" required />
        <label class="form-label" for="address">Address</label>
    </div>

    <!-- Register Button -->
    <div class="pt-1 mb-4">
        <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
    </div>

    <a class="small text-muted" href="#!">Already have an account? Login here</a>
</form>
