@page
@model Bookings_Hotel.Pages.Home.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/Layout_Login.cshtml";
}

<h2>Register</h2>

<form method="post">
    <div>
        <label asp-for="Account.FullName"></label>
        <input asp-for="Account.FullName" />
        <span asp-validation-for="Account.FullName"></span>
    </div>
    <div>
        <label asp-for="Account.Email"></label>
        <input asp-for="Account.Email" />
        <span asp-validation-for="Account.Email"></span>
    </div>
    <div>
        <label asp-for="Account.Phonenumber"></label>
        <input asp-for="Account.Phonenumber" />
        <span asp-validation-for="Account.Phonenumber"></span>
    </div>
    <div>
        <label asp-for="Account.UseName"></label>
        <input asp-for="Account.UseName" />
        <span asp-validation-for="Account.UseName"></span>
    </div>
    <div>
        <label asp-for="Account.Password"></label>
        <input asp-for="Account.Password" type="password" />
        <span asp-validation-for="Account.Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <button type="submit">Register</button>
</form>
