@page
@model Bookings_Hotel.Pages.Home.VerifyOTPForgotPasswordModel
@{
    ViewData["Title"] = "Xác thực OTP";
    Layout = "~/Pages/Shared/Layout_Login.cshtml";
}

<h2>Xác thực OTP</h2>

@if (Model.Message != null)
{
    <div>@Model.Message</div>
}

<form method="post">
    <div>
        <label for="otp">Nhập OTP:</label>
        <input type="number" id="otp" name="otp" />
        <span asp-validation-for="OTP"></span>
    </div>
    <button type="submit">Xác thực</button>
</form>
