@page
@model Bookings_Hotel.Pages.Home.VerifyOTPForgotPasswordModel
@{
    ViewData["Title"] = "Xác thực OTP";
    Layout = "~/Pages/Shared/Layout_Login.cshtml";
}

<h2>Xác thực OTP</h2>

@if (Model.Message != null)
{
    <div>@Model.Message</div>
}

<form method="post">
    <div>
        <label for="OTP">Nhập mã OTP:</label>
        <input type="text" asp-for="OTP" required />
        <span asp-validation-for="OTP" style="color:red;"></span>
    </div>
    <button type="submit">Xác thực</button>
</form>
