@page
@model Bookings_Hotel.Pages.Home.VerifyOTPModel
@{
    ViewBag.Title = "Xác Nhận OTP";
    Layout = "~/Pages/Shared/Layout_Login.cshtml";
}
<form method="post">
    <div class="d-flex align-items-center mb-3 pb-1">
        <span class="h1 fw-bold mb-0">Booking Hotel</span>
    </div>

    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Verify Your OTP</h5>

    <div class="form-outline mb-4">
        <input type="text" id="otp" class="form-control form-control-lg" required />
        <label class="form-label" for="otp">Enter the OTP sent to your email</label>
    </div>

    <div class="pt-1 mb-4">
        <button class="btn btn-dark btn-lg btn-block" type="submit">Verify OTP</button>
    </div>

    <a class="small text-muted" href="#!">Resend OTP?</a>
</form>
