@page
@model Bookings_Hotel.Pages.Manager.TypeRoom.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/Layout_admin.cshtml";
}


<head>
    <link rel="stylesheet" href="~/admin_template/css/add-type-room.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

 <div class="main-header d-flex justify-content-start">

         <div>
            <span class="mb-0 fs-3 fw-bold">Tạo loại phòng mới</span>
         </div>
</div>


<form class="form-container mt-3 p-3 row row-cols-2 mx-0" method="post" id="addTypeRoomForm" enctype="multipart/form-data">
    <div class="col m-0 p-0">
        <div class="carousel-container">
            <div>
                <div class="carousel slide" id="carouselExample">
                    <div class="carousel-inner" id="carousel-inner">
                        <!-- Images will be added here dynamically -->
                    </div>
                    <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExample"
                        type="button">
                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExample"
                        type="button">
                        <span aria-hidden="true" class="carousel-control-next-icon"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="mt-2 mb-5 d-flex btn-carousel">
                    <button class="btn btn-primary me-2" type="button"
                        onclick="document.getElementById('imageInput').click()">Thêm ảnh mới</button>
                    <button class="btn btn-secondary" type="button" onclick="deleteLastImage()">Xóa ảnh cuối</button>
                </div>
            </div>
        </div>

        <div class="me-2">
            <input accept="image/*" id="imageInput" onchange="handleImageUpload(this)" style="display: none;"
                type="file">

            <div class="thumbnail-container"></div>
        </div>
    </div>

    <div class="col m-0 p-0">
        <div class="row">


            <div class="mb-3 ms-2">
                <label for="RoomNumber" class="form-label">Tên loại phòng<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="TypeName" name="TypeName" placeholder="Nhập tên loại phòng" required />
            </div>

            <div class="mb-3 ms-2">
                <label for="NumberOfBeds" class="form-label">Số giường <span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="NumberOfBeds" name="NumberOfBeds" placeholder="Nhập số giường" required />
            </div>

  
            <div class="mb-3 ms-2">
                <label for="NumberOfAdults" class="form-label">Số người lớn <span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="NumberOfAdults" name="NumberOfAdults" placeholder="Nhập số người lớn" required />
            </div>

            <div class="mb-3 ms-2">
                <label for="NumberOfAdults" class="form-label">Số người lớn được phép thêm <span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="MaximumExtraAdult" name="MaximumExtraAdult" placeholder="Nhập số người lớn được phép thêm" required />
            </div>

            <div class="mb-3 ms-2">
                <label for="NumberOfAdults" class="form-label">Phụ phí thêm người lớn <span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="ExtraAdultFee" name="ExtraAdultFee" placeholder="Nhập phụ phí thêm người lớn " required />
            </div>

            <div class="mb-3 ms-2">
                <label for="NumberOfChildren" class="form-label">Số trẻ em <span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="NumberOfChildren" name="NumberOfChildren" placeholder="Nhập số trẻ em" required />
            </div>

            <div class="mb-3 ms-2">
                <label for="NumberOfChildren" class="form-label">Số trẻ em được phép thêm <span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="MaximumExtraChild" name="MaximumExtraChild" placeholder="Nhập số trẻ em được phép thêm " required />
            </div>

            <div class="mb-3 ms-2">
                <label for="NumberOfChildren" class="form-label">Phụ phí thêm trẻ em <span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="ExtraChildFee" name="ExtraChildFee" placeholder="Nhập phụ phí thêm trẻ em " required />
            </div>

            <div class="mb-3 ms-2">
                <label for="Price" class="form-label">Giá phòng <span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="Price" name="Price" placeholder="Nhập giá phòng" required />
            </div>

            <div class="mb-3 ms-2">
                <label for="Services" class="form-label">Dịch vụ</label>
                <select class="form-select js-example-basic-multiple" id="Services" name="ServiceIds" multiple="multiple">
                    @foreach (var service in Model.Services)
                    {
                        <option value="@service.ServiceId">@service.ServiceName</option>
                    }
                </select>
            </div>

            <div class="mb-3 ms-2">
                <label for="Description" class="form-label">Mô tả</label>
                <textarea class="form-control" id="Description" name="Description" rows="5"></textarea>
            </div>

        <div class="d-flex justify-content-center">
                <a type="button" class="btn btn-outline-dark px-4 rounded-pill me-2" href="/Manager/TypeRoom/List">Hủy</a>
                <button type="button" class="btn btn-primary px-4 rounded-pill" onclick="submitFormAjax()">Lưu</button>
        </div>
    </div>
</form>


<!--        Model-->

<div aria-hidden="true" aria-labelledby="cropImageModalLabel" class="modal fade" id="cropImageModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="cropImageModalLabel">Chỉnh sửa ảnh</h5>
            </div>
            <div class="modal-body d-flex">
                <div class="model-sidebar d-flex flex-column justify-content-between p-2">
                    <div class="d-flex flex-column btns-container">
                        <div>
                            <button type="button" class="btn  mb-2 me-2 btn-edit-img" id="rotateLeft">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                            <span class="btn-name">Xoay trái</span>
                        </div>
                        <div>
                            <button type="button" class="btn  mb-2 me-2 btn-edit-img" id="rotateRight">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                            <span class="btn-name">Xoay phải</span>
                        </div>

                        <div>
                            <button type="button"  class="btn  mb-2 me-2 btn-edit-img" id="scaleX">
                                <i class="bi bi-arrows-expand-vertical"></i>

                            </button>
                            <span class="btn-name">Lật ngang</span>
                        </div>
                        <div>
                            <button type="button"  class="btn  mb-2 me-2 btn-edit-img" id="scaleY">
                                <i class="bi bi-arrows-expand"></i>

                            </button>
                            <span class="btn-name">Lật dọc</span>
                        </div>


                    </div>

                    <div class="">
                        
                            <button class="btn btn-primary " id="cropImageButton" type="button">
                                Lưu
                            </button>
                        
                        
                            <button class="btn cancel-btn" data-bs-dismiss="modal" type="button">
                                Hủy
                            </button>
                        
                    </div>
                </div>
                <div class="img-container">
                    <img class="img-fluid" id="imageToCrop" src="">
                </div>
            </div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()
@section Scripts {

    <script src="~/admin_template/js/addTypeRoom.js"></script>
<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>

<script>
    $(document).ready(function () {
        function adjustCarouselSize() {
            let colWidth = $('.col').width();

            // Thêm lớp mờ dần để chuẩn bị thay đổi kích thước
            $('#carouselExample').addClass('carousel-transition');

            $('#carouselExample').css({
                'width': colWidth + 'px',
                'height': (colWidth * 3 / 5) + 'px'
            });

            // Xóa lớp sau khi chuyển đổi để hiển thị lại carousel
            setTimeout(() => {
                $('#carouselExample').removeClass('carousel-transition');
            }, 200); // Thời gian này phải trùng với thời gian transition trong CSS
        }

        // Function to adjust form container layout
        function adjustFormContainer() {
            const containerWidth = $('.form-container').outerWidth();
            if (containerWidth < 1200) {
                $('.form-container').removeClass('row row-cols-2');
            } else {
                $('.form-container').addClass('row row-cols-2');
            }

            // Sau khi layout được cập nhật, dùng requestAnimationFrame để đảm bảo carousel cập nhật sau khi trình duyệt render xong
            requestAnimationFrame(() => {
                setTimeout(adjustCarouselSize, 200); // Delay nhỏ để đảm bảo layout đã hoàn tất
            });
        }

        // Initial check on page load
        adjustFormContainer();

        // Adjust layout on window resize
        $(window).resize(function () {
            adjustFormContainer();
        });

        // Check when header-toggle button is clicked
        $(document).on('click', '#header-toggle', function () {
            setTimeout(function () {
                adjustFormContainer();
            }, 100);
        });
    });

</script>
}